---
import NavbarAppearance from './NavbarAppearance.astro'
import NavbarHamburger from './NavbarHamburger.astro'
import NavbarMenu from './NavbarMenu.astro'
import NavbarTitle from './NavbarTitle.astro'
import { hasSidebar as hasSidebarRaw } from '~/supports/sidebar'

const hasSidebar = hasSidebarRaw(Astro.url.pathname)
---

<div
  class:list={['navbar-wrapper', { 'has-sidebar': hasSidebar }]}
  id="navbarEl"
>
  <div class="navbar-container">
    <div class="title"><NavbarTitle /></div>
    <div class="content">
      <div class="curtain"></div>
      <div class="content-body">
        <NavbarMenu class="menu" />
        <NavbarAppearance class="appearance" />
        <NavbarHamburger class="hamburger" />
      </div>
    </div>
  </div>
</div>

<style>
  .navbar-wrapper {
    position: relative;
    border-bottom: 1px solid transparent;
    padding: 0 8px 0 24px;
    height: var(--nav-height);
    pointer-events: none;
    white-space: nowrap;
  }

  @media (min-width: 768px) {
    .navbar-wrapper {
      padding: 0 32px;
    }
  }

  @media (min-width: 960px) {
    .navbar-wrapper.has-sidebar {
      padding: 0;
    }

    .navbar-wrapper.fill:not(.has-sidebar) {
      border-bottom-color: var(--c-gutter);
      background-color: var(--nav-bg);
    }
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: calc(var(--layout-max-width) - 64px);
    height: var(--nav-height);
    pointer-events: none;
  }

  .navbar-container > .title,
  .navbar-container > .content {
    pointer-events: none;
  }

  .navbar-container :global(*) {
    pointer-events: auto;
  }

  @media (min-width: 960px) {
    .navbar-wrapper.has-sidebar .navbar-container {
      max-width: 100%;
    }
  }

  .title {
    flex-shrink: 0;
    height: calc(var(--nav-height) - 1px);
    transition: background-color 0.5s;
  }

  @media (min-width: 960px) {
    .navbar-wrapper.has-sidebar .title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 0 32px;
      width: var(--sidebar-width);
      height: var(--nav-height);
      background-color: transparent;
    }
  }

  @media (min-width: 1440px) {
    .navbar-wrapper.has-sidebar .title {
      padding-left: max(
        32px,
        calc((100% - (var(--layout-max-width) - 64px)) / 2)
      );
      width: calc(
        (100% - (var(--layout-max-width) - 64px)) / 2 + var(--sidebar-width) -
          32px
      );
    }
  }

  .content {
    flex-grow: 1;
  }

  @media (min-width: 960px) {
    .navbar-wrapper.has-sidebar .content {
      position: relative;
      z-index: 1;
      padding-right: 32px;
      padding-left: var(--sidebar-width);
    }
  }

  @media (min-width: 1440px) {
    .navbar-wrapper.has-sidebar .content {
      padding-right: calc((100vw - var(--layout-max-width)) / 2 + 32px);
      padding-left: calc(
        (100vw - var(--layout-max-width)) / 2 + var(--sidebar-width)
      );
    }
  }

  .content-body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: calc(var(--nav-height) - 1px);
    transition: background-color 0.5s;
  }

  @media (min-width: 960px) {
    .navbar-wrapper.has-sidebar .content-body,
    .navbar-wrapper.fill .content-body {
      position: relative;
      background-color: var(--nav-bg);
    }
  }

  @media (max-width: 768px) {
    .content-body {
      column-gap: 0.5rem;
    }
  }

  .menu + .translations::before,
  .menu + .appearance::before,
  .menu + .social-links::before,
  .translations + .appearance::before,
  .appearance + .social-links::before {
    margin-right: 8px;
    margin-left: 8px;
    width: 1px;
    height: 24px;
    background-color: var(--c-divider);
    content: '';
  }

  .menu + .appearance::before,
  .translations + .appearance::before {
    margin-right: 16px;
  }

  .appearance + .social-links::before {
    margin-left: 16px;
  }

  .social-links {
    margin-right: -8px;
  }

  @media (min-width: 960px) {
    .navbar-wrapper.has-sidebar .curtain {
      position: absolute;
      right: 0;
      bottom: -31px;
      width: calc(100% - var(--sidebar-width));
      height: 32px;
    }

    .navbar-wrapper.has-sidebar .curtain::before {
      display: block;
      width: 100%;
      height: 32px;
      background: linear-gradient(var(--c-bg), transparent 70%);
      content: '';
    }
  }

  @media (min-width: 1440px) {
    .navbar-wrapper.has-sidebar .curtain {
      width: calc(
        100% - ((100vw - var(--layout-max-width)) / 2 + var(--sidebar-width))
      );
    }
  }
</style>
