---
import IconExternal from './icons/IconExternal.astro'
import type { BaseProps } from '~/types'
import { isExternal as _isExternal, getCId, normalizeLink } from '~/utils'

export interface Props extends BaseProps {
  href?: string
  text?: string
  target?: string
  rel?: string
  noIcon?: boolean
  tabindex?: string | number
}

const props = Astro.props
const { text, href: _href, noIcon, tabindex } = props

const isLink = !!_href
const isExternal = _href && _isExternal(_href)

const target = props.target || (isExternal ? '_blank' : undefined)
const rel = props.rel || (isExternal ? 'noreferrer' : undefined)

const href = isLink ? normalizeLink(_href) : undefined

const className = props['class:list'] || props.class
const cIds = getCId(props)
---

{
  isLink
    ? (
    <a
      class:list={[
        'auto-link',
        'hover:text-brand transition-colors',
        className,
      ]}
      {href}
      {target}
      {rel}
      {tabindex}
      {...cIds}
    >
      <slot>{text || href}</slot>
      {isExternal && !noIcon
        ? (
        <span class="icon ml-1 -mt-[1px] text-text-3">
          <IconExternal />
        </span>
          )
        : null}
    </a>
      )
    : (
    <span class:list={['auto-link', className]}>
      <slot>{text || href}</slot>
    </span>
      )
}
