---
import { toArray } from '@pengzhanbo/utils'
import type { BaseProps } from '~/types'

export interface Props extends BaseProps {
  tags: string[]
}

const tags = toArray(Astro.props.tags)
const className = Astro.props['class:list'] || Astro.props.class
---

<div
  class:list={['flex flex-wrap items-center justify-center -mx-1', className]}
>
  {
    tags.map(tag => (
      <span class="b-f mx-1 mb-2 inline-block rounded-sm bg-gray-50 px-1 text-sm text-text-1">
        {tag}
      </span>
    ))
  }
</div>
