---
import { toArray } from '@pengzhanbo/utils'
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostContent from '~/components/PostContent.astro'
import data from '~/database/daxue.json'
import Layout from '~/layouts/Layout.astro'
import { getPoetriesConfig } from '~/supports'

const poetry = getPoetriesConfig('da-xue')!

const { title, description } = poetry
const descriptions = toArray(description)
---

<Layout title={title} navFixed>
  <div class="py-6 px-5 md:px-10">
    <Breadcrumb list={[{ text: title, active: true }]} />
    <div class="py-6 max-w-3xl mx-auto border-b border-b-border">
      {descriptions.map((desc) => <p class="px-4">{desc}</p>)}
    </div>
    <div class="pt-6 max-w-3xl mx-auto">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-4">
        {data.chapter}
      </h3>
      <PostContent content={data.paragraphs} indent />
    </div>
  </div>
</Layout>
