---
import Layout from './Layout.astro'
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostAbstract from '~/components/PostAbstract.astro'
import { books } from '~/config/books'
import type { Books } from '~/config/site'

export interface Props {
  book: Books
}

const { title, abstract } = books[Astro.props.book]
---

<Layout title={title}>
  <div class="py-6 px-5 md:px-10">
    <Breadcrumb list={[{ text: title, active: true }]} />
    <PostAbstract {title} {abstract} />
  </div>
</Layout>
